//colors
$color_light_grey: #B8BCBE;
$color_dark_grey: #7B7C7D;
$color_title: #083C5B;
$color_dark_blue:#042436;


//fonts
$font_title: 'Montserrat Alternates', sans-serif;
$font_list:'Comfortaa', cursive;
