//colors
$color_fav: #36C0A5;

//botones
$button_color:#915267;
$button_hover: #B66781;
$button_border: #5B3340;

//fav colors
$fav_letter:#FACDA5;
$fav_background: #795964 ;


//letter
$--color-cream: #ffffff;
$--color-black: #262322;

//fonts
$font_title: 'Dancing Script', cursive;
$font_list:'Comfortaa', cursive;


//COLORS
$--color-light-grey: rgba(177, 173, 173, 0.473);
$--color-white: #ffffff;
$--color-pink: #f56a6a;
$--color-pink-ligth: #f1d5d5;
$--color-bg-alt: #f5f6f7;
$--color-grey: #7f888f;
$--color-bold-grey:#3d4449;
$--color-border-grey:rgba(210,215,217,0.75);
