//colors
$color_fav: #36C0A5;

//botones
$button_color:#915267;
$button_hover: #B66781;
$button_border: #5B3340;

//fav colors
$fav_letter:#FACDA5;
$fav_background: #795964 ;


//letter
$color__letter: #E0DDDB;

//fonts
$font_title: 'Dancing Script', cursive;
$font_list:'Comfortaa', cursive;
