

//HEADER

.header {
  text-align: center;
  margin-bottom: 20px;
 
  &__div {
   display: flex;
   justify-content: space-around;
   padding: 30px;
   align-items: center;
   box-shadow: 0px 2px 6px $--color-light-grey; 
  }
 

  &__title {
      font-size: 50px;
      font-family: $font_title;
      margin-right: 30px;
  }

  &__logo {
  height: 70px;
  width: auto;
  }
}



//INPUT, SEARCH Y RESET

.form {

    &__div {
        display: flex;
        justify-content:space-evenly;
        margin: 70px 20px 50px 20px;
    }

    &__inputAndIcon {
        display: flex;
        align-items: center;
        margin-right: 8px;
        border: 1px solid $--color-border-grey;
        padding: 0 6px 0 6px;
        border-radius: 4px;
        
        &:hover {
            border: 1px solid $--color-pink;
        }
    }

    &__input {
    outline: none;
    border: none;
    width: 100px;
   }

   &__icon {
    border-left: 1px solid $--color-border-grey;
    height: 100%;
    padding: 8px;
    color:  $--color-grey;

    &:hover {
        border-left: 1px solid $--color-pink;
    }
    
   }

    &__button {
        padding: 8px 14px;
        border-radius: 5px;
        border: 1px solid $--color-pink;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: $--color-pink;
       
        
        &:hover {
            cursor: pointer;
            background-color: $--color-pink-ligth;   
        }
    }

}


//LISTA FAVORITOS Y LISTA BÚSQUEDA


.section {

    &__div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px 20px;
    }

    &__title {
        font-family: $font_list;
        font-size: 16px;
        border-bottom: 4px solid $--color-pink;
        padding-bottom: 4px;
    }

    //SECTION COCKTAILS

    &__cocktails {
      
        &__div {
         list-style-type: none;
         margin-top: 40px;
        }

        &__div2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
            border: 2px solid $--color-border-grey;
            border-radius: 5px;
        }
    
    &__name {
         padding-top: 10px;
        font-family: $font_list;
        font-size: 14px;

        &:hover {
            cursor: pointer;
            color: $fav_letter;
        }
    }

    &__image {
       padding: 10px;
       height: 120px;
       &:hover {
        cursor: pointer;
    }
}
}

//SECTION FAVOURITES

     &__favourites {

        &__button {
            display: flex;
            flex-direction: row;
        }
        
        &__list {
         list-style-type: none;
         margin-top: 40px;
        }

      &__name {
        padding-top: 10px;
        font-family: $font_list;
        font-size: 14px;

      &:hover {
          cursor: pointer;
      }
     } 


    &__divFav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
       border: 2px solid $--color-pink;
       border-radius: 5px;
}
     &__image {

       padding: 10px;
       height: 120px;
       &:hover {
        cursor: pointer;
    }
}
    &__icon {
        color: $color_fav;
        margin-left: 10px;
        align-self: center;
    }

    &__reset {
        margin-left: 20px;
        border: none;
        display: flex;
    }
}
}


// Modificaciones al elegir favorito, en lista total de bebidas. 

.nameFavourite {
   
}

.classFavourite {
    color: $--color-pink;
}

.section__div {
    display: flex;
    flex-direction: row;
}