
//CAMBAIR ESTILOS, USAR SASS


.body {
    background-color: #B8BCBE;
}

.header {
  text-align: center;
  background-color: #7B7C7D;
 

  &__title{
      font-size: 50px;
      color: #083C5B;
      font-family: $font_title;
      padding: 40px;
      
  }
}


.main {
    background-color: #B8BCBE;
}


.form {
    margin-top: 20px;
    margin-left: 20px;
    &__input {
        padding: 10px;
        border: solid 3px #AF594F;
        border-radius: 30px;
    }

    &__buttonSearch {
        padding: 10px;
        border: solid 1px #AF594F;
        border-radius: 10px;
    }

}


.section {
    margin-top: 40px;
    &__title {
        font-family: $font_list;
        color: #042436;
        margin-bottom: 20px;
    }

    &__list {
        list-style-type: none;
    }

   &__cocktails__image {
       border: 2px solid #5e365c;
   }
}













.section__cocktails__image{
    width: 100px;
    border: solid 5px rgba(10, 23, 24, 0.349);

}
.section__favourites__image {
    width: 100px;
    border: solid 5px rgba(53, 181, 255, 0.349); //en vez de borde, background?
}
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.favouritesDrinks {
    background-color: aquamarine;
}

.section__favourites__name{
    color: rgb(15, 62, 218);
}
.section__cocktails__name {
   color : rgba(3, 3, 3, 0.349);
}
.section__favourites__title {
    color: rgba(10, 23, 24, 0.349);
}

