.body {
    background-color: #1B4748;
}

//HEADER

.header {
  text-align: center;
  margin-bottom: 20px;
 
  &__div {
   display: flex;
   justify-content: center;
   margin-top: 40px;
   align-items: center;
  }
 

  &__title {
      font-size: 50px;
      color: $color__letter;
      font-family: $font_title;
      margin-right: 30px;
      
      
  }

  &__logo {
  height: 70px;
  width: auto;
  
  }
}



//INPUT, SEARCH Y RESET

.form {

    &__div {
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
        margin-top: 20px;
    }

    &__input {
        padding: 8px;
        border-radius: 10px;
        margin-right: 20px;
    }

    &__button {
        padding: 8px;
        border-radius: 10px;
        border: $button_border solid 2px;
        color: $color__letter;

        &:hover {
            cursor: pointer;
        }
    }

    &__buttonSearch {
        margin-right: 10px;
    
        &:hover {
            background-color: $button_hover;
        }
    }
        
   &__buttonReset{

    &:hover {
        background-color: $button_hover;
    }
}
}


//LISTA FAVORITOS Y LISTA BÚSQUEDA


.section {

    &__div {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin-top: 60px;
        width: 100%;
    }

    &__title {
        font-family: $font_list;
        color: $color__letter;
        margin-bottom: 30px;
        margin-right: 30px;
    }



    //SECTION COCKTAILS

    &__cocktails {
        margin-right: 80px;
        width: 40%;
        margin-left: 30px;
        

        &__div {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-around;
         list-style-type: none;
        
        }
    

    &__name {
         padding-top: 10px;
        font-family: $font_list;
        color: $color__letter;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }
    }

    &__image {
       padding: 10px;
       height: 120px;
       border-radius:  15%;

       &:hover {
        cursor: pointer;
    }
}

}

//SECTION FAVOURITES

     &__favourites {
        margin-left: 80px;
        width: 25%;
        margin-right: 30px;
    
    
      &__name {
        padding-top: 10px;
        font-family: $font_list;
        color: $color__letter;
        font-size: 14px;

      &:hover {
          cursor: pointer;
      }
     } 

     &__div {
         display: flex;
         flex-direction: row;
     }

     &__image {

       padding: 10px;
       height: 120px;
       border-radius:  15%;
       &:hover {
        cursor: pointer;
    }
}
    &__icon {
        color: $color_fav;
        margin-left: 10px;
    }

    &__reset {
        margin-bottom: 20px;
        background-color: $button;
        color: $color__letter;

    &:hover {
        background-color: $button_hover;
    }
    }
}
}




// Modificaciones al elegir favorito, en lista total de bebidas. 

.nameFavourite {
    color: $color_fav;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #296B6C;
    margin-bottom: 20px;
    margin-right: 15px;
    border-radius: 15%;
}

.section__div {
    display: flex;
    flex-direction: row;
}